<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.tatkal.train.quick"
    platformBuildVersionCode="35"
    platformBuildVersionName="15"
    android:compileSdkVersion="35"
    android:compileSdkVersionCodename="15"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package
            android:name="cris.org.in.prs.ima" />
        <package
            android:name="com.afre.quickotp" />
        <package
            android:name="com.google.android.gms" />
        <package
            android:name="in.org.npci.upiapp" />
        <package
            android:name="net.one97.paytm" />
        <package
            android:name="com.google.android.apps.nbu.paisa.user" />
        <package
            android:name="com.phonepe.app" />
        <package
            android:name="org.cris.aikyam" />
        <package
            android:name="com.one.train.ticket" />
        <intent>
            <action
                android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <package
            android:name="com.paytm.pgsdk.TransactionManager.PAYTM_APP_PACKAGE" />
        <intent>
            <action
                android:name="android.intent.action.MAIN" />
        </intent>
        <intent>
            <action
                android:name="com.android.vending.billing.InAppBillingService.BIND" />
        </intent>
        <intent>
            <action
                android:name="com.google.android.apps.play.billingtestcompanion.BillingOverrideService.BIND" />
        </intent>
        <package
            android:name="com.facebook.katana" />
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <category
                android:name="android.intent.category.BROWSABLE" />
            <data
                android:scheme="https" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.INSERT" />
            <data
                android:mimeType="vnd.android.cursor.dir/event" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <data
                android:scheme="sms" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.DIAL" />
            <data
                android:path="tel:" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <data
                android:mimeType="*/*"
                android:scheme="*" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <category
                android:name="android.intent.category.BROWSABLE" />
            <data
                android:mimeType="*/*"
                android:scheme="upi"
                android:host="pay" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.SEND" />
            <data
                android:mimeType="*/*" />
        </intent>
        <intent>
            <action
                android:name="rzp.device_token.share" />
        </intent>
    </queries>
    <!-- Allows the app to create network sockets and use customised network protocols. The browser and other applications provide means to send data to the Internet, so this permission is not required to send data to the Internet. -->
    <uses-permission
        android:name="android.permission.INTERNET" />
    <!-- Allows the user to purchase items through Google Play from within this app. -->
    <uses-permission
        android:name="com.android.vending.BILLING" />
    <!-- Allows the app to prevent the phone from going to sleep. -->
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="disabled_android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Allows the app to control the vibrator. -->
    <uses-permission
        android:name="android.permission.VIBRATE" />
    <!-- Allows the app to view information about network connections such as which networks exist and are connected. -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Allows the app to make use of foreground services. -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Allows the app to make use of foreground services with the type 'mediaProjection' -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission
        android:name="disabled_android.permission.BLUETOOTH" />
    <!-- Allows the app to set an alarm in an installed alarm clock app. Some alarm clock apps may not implement this feature. -->
    <uses-permission
        android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission
        android:name="disabled_android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="disabled_android.permission.READ_PHONE_STATE" />
    <!-- Allows apps to accept cloud-to-device messages sent by the app's service. Using this service will incur data usage. Malicious apps could cause excess data usage. -->
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Allows the app to view information about Wi-Fi networking, such as whether Wi-Fi is enabled and name of connected Wi-Fi devices. -->
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="disabled_android.permission.ACCESS_ADSERVICES_ATTRIBUTION" />
    <uses-permission
        android:name="disabled_android.permission.ACCESS_ADSERVICES_AD_ID" />
    <uses-permission
        android:name="disabled_android.permission.ACCESS_ADSERVICES_CUSTOM_AUDIENCE" />
    <uses-permission
        android:name="disabled_android.permission.ACCESS_ADSERVICES_TOPICS" />
    <uses-permission
        android:name="disabled_com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission
        android:name="disabled_android.permission.USE_BIOMETRIC" />
    <uses-permission
        android:name="disabled_android.permission.USE_FINGERPRINT" />
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true" />
    <uses-permission
        android:name="disabled_com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <permission
        android:name="com.tatkal.train.quick.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="disabled_com.tatkal.train.quick.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />
    <application
        android:theme="@style/CustomActionBarTheme"
        android:label="@string/app_name_3"
        android:icon="@mipmap/logo_4"
        android:name="com.tatkal.train.quick.QuickTatkalApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true">
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.ExitActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.SignInSocial"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.BookingActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
        <activity
            android:name="com.tatkal.train.quick.MultipleBookingActivity"
            android:exported="false" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:label="Tutorials"
            android:name="com.tatkal.train.quick.VideoList" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:label="@string/legal"
            android:name="com.tatkal.train.quick.LegalActivityList"
            android:exported="false" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.LegalActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/qt_notif_3" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.TrainAvlSearch"
            android:exported="false" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.EditProfile"
            android:exported="false" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:label="Help &amp; Support"
            android:name="com.tatkal.train.quick.FAQSupport"
            android:exported="false" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.RunningStatusActivity"
            android:exported="false" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.PNRActivity"
            android:exported="false" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true">
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="afrestudios.page.link"
                    android:pathPrefix="/quicktatkal" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true">
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="www.afrestudios.com"
                    android:pathPrefix="/index.php/irctc-train-ticket-quick-tatkal" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true">
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="quicktatkal.in"
                    android:pathPrefix="/play_store.html" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true">
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="quicktatkal.in"
                    android:pathPrefix="/general-booking" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true">
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="quicktatkal.in"
                    android:pathPrefix="/pnr-status" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true">
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="quicktatkal.in"
                    android:pathPrefix="/running-status" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true">
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="www.afrestudios.com"
                    android:pathPrefix="/index.php/request-data-deletion-for-quick-tatkal" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <activity
            android:name="com.tatkal.train.quick.FacebookActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="fbconnect"
                    android:host="cct.com.tatkal.train.quick" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/CustomActionBarTheme.Fullscreen"
            android:label="Dashboard"
            android:name="com.tatkal.train.quick.Dashboard"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.TabActivity2" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:label="Ticket Booking"
            android:name="com.tatkal.train.quick.FormActivity2"
            android:exported="false"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.ProfileActivity"
            android:exported="false" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.OTPValidation"
            android:exported="false" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.SignUp"
            android:exported="false"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.tatkal.train.quick.PlayAndWin"
            android:exported="false" />
        <activity
            android:theme="@style/CustomActionBarTheme.NoActionBar"
            android:name="com.tatkal.train.quick.TrainsBetweenStations"
            android:exported="false" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.TrainSearch"
            android:exported="false" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.PNRResult"
            android:exported="false" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.RunningStatus"
            android:exported="false" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.PremiumActivity"
            android:exported="false" />
        <activity
            android:name="com.tatkal.train.quick.TempActivity"
            android:exported="false" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.FreeTickets"
            android:exported="false" />
        <activity
            android:theme="@style/NewToolbarTheme"
            android:name="com.tatkal.train.quick.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.tatkal.train.quick.HomeActivity"
            android:exported="false" />
        <activity
            android:name="com.tatkal.train.quick.ErrorLandingActivity"
            android:exported="false" />
        <activity
            android:name="com.tatkal.train.quick.RazorPayActivity"
            android:exported="true" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c489e678989ae386732c175b81db9502032106ba" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_zh7pz4UZgGxkhm" />
        <service
            android:name="com.tatkal.train.server.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.tatkal.train.quick.FloatingWidgetService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:label="@string/app_name_3"
            android:name="com.tatkal.train.quick.MyAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action
                    android:name=".MyAccessibilityService"
                    android:value=".MyAccessibilityService" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/serviceconfig" />
        </service>
        <receiver
            android:name="com.tatkal.train.quick.OTPBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.quickotp.OTPReceived" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.tatkal.train.util.MyNotificationPublisher"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.NOTIFY" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.tatkal.train.quick.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/TransparentActivityTheme"
            android:name="com.paytm.pgsdk.AioMatchUserActivity" />
        <service
            android:name="com.paytm.pgsdk.IntentServicePostNotification"
            android:exported="false" />
        <service
            android:name="com.paytm.pgsdk.IntentServicePreNotification"
            android:exported="false" />
        <service
            android:name="easypay.appinvoke.utils.EasyPayConfigDownloader"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />
        <service
            android:name="easypay.appinvoke.utils.AnalyticsService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name="easypay.appinvoke.AnalyticsManagerInfoDisplayActivity" />
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED"
                android:value="true" />
        </receiver>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter
                android:priority="-500">
                <action
                    android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.dynamiclinks.FirebaseDynamicLinksKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.dynamiclinks.internal.FirebaseDynamicLinkRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.storage.FirebaseStorageKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.storage.StorageRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.firestore.FirebaseFirestoreKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.firestore.FirestoreRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.appcheck.FirebaseAppCheckKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.appcheck.FirebaseAppCheckRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
        <meta-data
            android:name="com.google.android.play.billingclient.version"
            android:value="7.1.1" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.billingclient.api.ProxyBillingActivity"
            android:exported="false"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.billingclient.api.ProxyBillingActivityV2"
            android:exported="false"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <service
            android:name="com.veve.sdk.ads.VeVeMarketIntentService"
            android:exported="false" />
        <activity
            android:name="cat.ereza.customactivityoncrash.activity.DefaultErrorActivity"
            android:process=":error_activity" />
        <provider
            android:name="cat.ereza.customactivityoncrash.provider.CaocInitProvider"
            android:exported="false"
            android:authorities="com.tatkal.train.quick.customactivityoncrashinitprovider"
            android:initOrder="101" />
        <activity
            android:theme="@style/com_facebook_activity_theme"
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <activity
            android:name="com.facebook.CustomTabMainActivity" />
        <provider
            android:name="com.facebook.internal.FacebookInitProvider"
            android:exported="false"
            android:authorities="com.tatkal.train.quick.FacebookInitProvider" />
        <receiver
            android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.facebook.AuthenticationTokenManager$CurrentAuthenticationTokenChangedBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.facebook.sdk.ACTION_CURRENT_AUTHENTICATION_TOKEN_CHANGED" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.tatkal.train.quick.androidx-startup">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.razorpay.RazorpayInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup" />
        </provider>
        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false" />
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@bool/enable_system_job_service_default"
            android:exported="true"
            android:directBootAware="false" />
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:enabled="@bool/enable_system_foreground_service_default"
            android:exported="false"
            android:directBootAware="false" />
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false" />
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action
                    android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.BATTERY_OKAY" />
                <action
                    android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.DEVICE_STORAGE_LOW" />
                <action
                    android:name="android.intent.action.DEVICE_STORAGE_OK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
                <action
                    android:name="android.intent.action.TIME_SET" />
                <action
                    android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="androidx.work.impl.background.systemalarm.UpdateProxies" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.mlkit.common.internal.MlKitComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.mlkit.vision.text.internal.TextRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.mlkit.vision.common.internal.VisionCommonRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.mlkit.common.internal.CommonComponentRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
        <provider
            android:name="com.google.mlkit.common.internal.MlKitInitProvider"
            android:exported="false"
            android:authorities="com.tatkal.train.quick.mlkitinitprovider"
            android:initOrder="99" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.firebase.auth.internal.GenericIdpActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="genericidp"
                    android:host="firebase.auth"
                    android:path="/" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.firebase.auth.internal.RecaptchaActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="recaptcha"
                    android:host="firebase.auth"
                    android:path="/" />
            </intent-filter>
        </activity>
        <service
            android:name="androidx.credentials.playservices.CredentialProviderMetadataHolder"
            android:enabled="true"
            android:exported="false">
            <meta-data
                android:name="androidx.credentials.CREDENTIAL_PROVIDER_KEY"
                android:value="androidx.credentials.playservices.CredentialProviderPlayServicesImpl" />
        </service>
        <activity
            android:theme="@style/Theme.Hidden"
            android:name="androidx.credentials.playservices.HiddenActivity"
            android:enabled="true"
            android:exported="false"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:fitsSystemWindows="true" />
        <activity
            android:theme="@style/Theme.Hidden"
            android:name="androidx.credentials.playservices.IdentityCredentialApiHiddenActivity"
            android:enabled="true"
            android:exported="false"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:fitsSystemWindows="true" />
        <activity
            android:theme="@style/CheckoutTheme"
            android:name="com.razorpay.CheckoutActivity"
            android:exported="false"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.razorpay.MagicXActivity"
            android:exported="false" />
        <meta-data
            android:name="com.razorpay.plugin.googlepay_all"
            android:value="com.razorpay.RzpGpayMerged" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"
            android:excludeFromRecents="true" />
        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
            android:exported="true"
            android:visibleToInstantApps="true" />
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false" />
        <service
            android:name="com.google.firebase.sessions.SessionLifecycleService"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="com.tatkal.train.quick.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true" />
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false" />
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false" />
        <uses-library
            android:name="android.ext.adservices"
            android:required="false" />
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct" />
        </service>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false" />
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.INSTALL_PROFILE" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.SKIP_FILE" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.SAVE_PROFILE" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION" />
            </intent-filter>
        </receiver>
        <activity
            android:theme="@style/Theme.PlayCore.Transparent"
            android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity"
            android:exported="false"
            android:stateNotNeeded="true" />
    </application>
</manifest>